<main>
	<h1 class="text-center text-success">Create Track</h1>
	<hr class="bg-success w-50" style="height: 2px" />
	<form class="w-50 mx-auto" method="POST">
		<div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" type="text" id="name" name="name" placeholder="Name..." />
		</div>
		<div class="row d-flex justify-content-between">
			<div class="form-group col-md-5">
				<label for="link">Link</label>
				<input class="form-control" type="text" id="link" name="link" placeholder="Link..." />
			</div>
			<div class="form-group col-md-5">
				<label for="price">Price</label>
				<input class="form-control" type="text" id="price" name="price" placeholder="Price..." />
			</div>
		</div>
		<hr class="bg-success" style="height: 2px" />
		<div class="d-flex justify-content-around">
			<button class="btn btn-success" type="submit">Create</button>
			<a class="btn btn-success" href="/Albums/Details?id=@Model.AlbumId">Back To Album</a>
		</div>
	</form>
</main>
