<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>IRunes</title>
	<link rel="icon" href="/favicon.ico">
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid">
		@RenderBody()
		<hr class="bg-success" style="height: 2px" />
		<footer class="font-weight-bold text-center">
			<h5>CopyRight &copy; Sanity Design Studios. All rights reserved.</h5>
		</footer>
	</div>

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
