<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<h2>Register</h2>
	<form action="/user/register" method="post">
		<label>Username</label>
		<br />
		<input type="text" name="username" placeholder="Enter your username" />
		<br />
		<label>Password</label>
		<br />
		<input type="password" name="password" placeholder="Enter your password" />
		<br />
		<label>Confirm Password</label>
		<br />
		<input type="password" name="confirmPassword" placeholder="Enter your password again" />
		<br />
		<input type="submit" value="Register" />
	</form>
</body>
</html>